.main,
.footer,
.header,
* {
  margin: 0;
  
}
html {
  scroll-behavior: smooth; 
}

.header {
  
  
  background-color: #030303;
  color: #ffffff;
}
.container {
 
  padding: 80px 0px;
}

.nav {
  max-width: 1440px;
  margin: 0 auto;
  
   
  
}

h1 {
  font-size: 1px;
  color: #030303;
}
.nav-row {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  
}
.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Forum", cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  width: 50px;
  letter-spacing: 5px;
}

.logo img {
  margin-right: 20px;
  
  justify-content: left;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 775px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
}

.navigation li {
  margin-right: 56px;
}
.navigation li:last-child {
  margin-right: 0;
  padding-right: 10px;
}
.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

/* section 1*/

.container1 {
  max-width: 1440px;
  margin: 0 auto;
   
}

.welcome {
  background-color: #030303;
}
.welcome-row {
  max-width: 1440px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #030303;
  color: #ffffff;
}

.welcome__text {
  margin-top: -135px;
  width: 598px;
  height: 390px;
  left: 0px;
  top: 0px;
}
.welcome__title {
  width: max-content;
  font-size: 80px;
  font-family: "Forum", cursive;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: 5px;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 22px;
  position: relative;
  /* margin-right: -120px;*/
  z-index: 9;
}

.welcome__p {
  font-size: 28px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  padding-bottom: 74px;
}

.welcome-img {
  max-width: 1000px;
  max-height: 750px;
  margin-left: -157px;
  
  margin-top: -26px;
  
}

.welcome__button {
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  
  width: 360px;
  height: 75px;
  left: 0px;
  top: 52px;
  background-color: #710707;
  padding: 26px 65px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
}


.welcome__button:hover {
  background-color: #9D8665;
}

.welcome_pagination {
    
  margin-top: -100px;
  text-align: right;
  opacity: 0.2;
}

.welcome_pagination:hover {
  
  opacity: 1;
  transition: 0.5s;
}
.welcome_pagination img {
  max-width: 600px;
  max-height: 120px;
  
}


/*section 2*/

.visiting {
  background-color: #ffffff;
}
.container2 {
  max-width: 1440px;
  margin: 78px auto;

}

.visiting__pages {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  flex-basis: 33%;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 0;
  
}

.visiting__pages > * {
  flex: 0 0 33,3333%;
}

.visiting__title {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: "Forum", cursive;
  color: #9d8665;
  text-transform: uppercase;
  
}

.figure1 img {
  width: 440px;
  height: 285px;
  padding-bottom: 20px;
  border: 0;
}
.figure1 {
  margin: 0;
  padding: 0;
  border: 0;
      
}

.pages__title {
  text-decoration: none;
  font-size: 32px;
  font-family: "Forum", cursive;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 35px;
  text-transform: uppercase;
  color: #000000;
}


.pages__360 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 200;
  color: #000000;
}

.pages__text {
  padding-top: 10px;
  margin-bottom: 73px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #000000;
}

.title__underline {
  border: 2px solid #710707;
  width: 1440px;
  text-align: left;
  margin-top: 23px;
  margin-bottom: 76px;
  
}

.visiting__underline {
  border: 1px solid #710707;
  width: 300px;
  text-align: left;
  margin-top: 9px;
  margin-bottom: 10px;
  transition: 1s;
}

.figure1:hover .visiting__underline {
  width: 440px;
  
}

/* section 3 - Explore*/

.explore {
  background-color: #030303;
}

.container3 {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  justify-content: space-between;
}

.explore__text {
  margin-right: 15px;
}

.explore__title {
  font-size: 80px;
  font-family: "Forum", cursive;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: 5px;

  margin-bottom: 60;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;

}

.explore_title__underline {
  max-width: 660px;
  border: 2px solid #710707;
  text-align: left;
  margin-top: 23px;
  margin-bottom: 80px;
  transition: 2s;
}

.explore__p {
  
  margin-bottom: 25px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.75em;
  margin-right: 50px;
}

.yellow {
  color: #CAAA7D;
  
}

.explore__img {
  padding-top: 14px;
}


/* section 4 - Video*/

.video {
  background-color: #ffffff;
}

.container4 {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.video__body {
  display: flex;
  justify-content: space-between;
 // padding-top: 30px;
}

.video__title {
  justify-content: left;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  //margin-top: -30px;
  font-family: "Forum", cursive;
  color: #9d8665;
  text-transform: uppercase;
    
}

.video__text {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.75em;
  margin-top: 10px;
  padding-right: 27px;
    
}

.video__video {
  display: flex;
    flex-wrap: wrap;
    
    width: 1440px;
    position: relative;
    padding-top: 80px;
}

.video__poster{
  display: block;
  width: 1440px;
  height: 650px;
}

.button__poster__play {
  background: transparent;
  cursor: pointer;
  
  position: absolute;
  left: 603px;
  right: 610px;
  top: 293px;
}

.control__panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  width: 1440px;
  height: 85px;
  line-height: 1.2;
}

.video__button__play,
.video__button__volume, 
.video__button__fullscreen {
  background: transparent;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #000000;
  cursor: pointer;
  transition: .5s;
  border: none;
}

.progress__range {
  background: linear-gradient(to right, #710707 0%, #710707 40%, #ffffff 40%, #ffffff 100%);
  border: solid 2px #710707;
  height: 8px;
  width: 930px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress__range__volume {
  background: linear-gradient(to right, #710707 0%, #710707 40%, #ffffff 40%, #ffffff 100%);
  border: solid 2px #710707;
  height: 8px;
  width: 155px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress__range::-webkit-slider-thumb, 
.progress__range__volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: white;
}


.video__button__fullscreen {
  margin-left: 50px;
  margin-right: 25px;
}

.video__slides {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.video__list {
  display: flex;

}

.video__pages {
  text-align: center;
  
}

.video__pages img {
  padding-bottom: 0px;
}

/* section Art gallery*/

.containerG {
  max-width: 1440px;
  
  margin: 0 auto;
  padding-top: 77px;
 
  
}

.gallery {
  background-color: #030303;
  
}

.gallery__title {
  font-size: 80px;
  font-family: "Forum", cursive;
  font-weight: 300;
  line-height: 1.125;
  letter-spacing: 5px;
  padding-bottom: 60px;
  margin-bottom: 80;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  
}

.gallery__img {
  position: relative;
  z-index: 1;
  height: 1700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  overflow: hidden;
 
}

.img__mask { 
  position: relative;
   height: 10em;
   width: 100%;
   margin-top: -7em;
   bottom: 10px; 
   background: rgb(3, 3, 3, 1);  
   opacity: 0.8; 
   z-index: 2;
   filter: blur(20px);
  }

.gallery___img {
  margin: 12px;
}


/* section 6 - Tickets*/

.tickets {
  background-color: #ffffff;

}

.container5 {
  max-width: 1440px;
  margin: 0 auto;
  
  padding-top: 75px;
  padding-bottom: 75px;
  
}

.tickets__title {
  font-size: 80px;
  font-family: "Forum", cursive;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: 5px;

  margin-bottom: 60;
  position: relative;
  color: #000000;
  text-transform: uppercase;

}

.tickets__order {
  margin-top: 77px;
  display: flex;
  justify-content: space-between;
  color: #000000;
  font-family: "Roboto", sans-serif;
  
}

.tickets__type {
width: 270px;
height: 200px;
margin-left: 45px;


}

.tickets__type__title {
  margin-bottom: 30px;
  
}

.radio-button {
  
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tickets__txt {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  
}

.tickets__type__title,
.order__title,
.order__sum {
  font-size: 28px;
  font-weight: 700;
}

.order__title {
  margin-bottom: 23px;
}
.order {
  text-align: right;
  padding-left: 200px;

}

.order__age {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 200;
  text-align: left;
  margin-left: 25px;
  margin-bottom: 12px;
  margin-top: 10px;
  justify-content: end;
}

.button__amount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 23px;
  border: 3px solid #000000;
  height: 46px;
  width: 145px;
}

.amount__button__number {
  display: block;
  all: unset;
  width: 3em;
  text-align: center;
  background: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  width: 40px;
}

.button__item {
  font-size: 32px;
  width: 18px;
  height: 38px;
  margin: auto;
  color: #000000;
  background: transparent;
  border: none;
}

.order__sum {
  margin-top: 48px;
  text-align: right;
  letter-spacing: 1.65px;
}



.button1 {
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  background-color: #000000;
  width: 175px;
  height: 50px;
  margin-top: 60px;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.75em;
  letter-spacing: 2px;
  color: #ffffff;
  border-radius: 2px;
  transition: 1s;
}


.button1:hover {
  background-color: #9d8665;
  border: 3px solid #996316;
  box-shadow: 5px 5px #9d8665;
  border-radius: 20px;
  transition: 0.5s;
}

/* section 7 - Contacts*/

.contacts {
  background-color: #ffffff;
}

.container6 {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 25px;
}

.contacts__body {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  padding-bottom: 2px;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: "Forum", cursive;
  color: #9d8665;
  text-transform: uppercase;
  transition: 1s;
}
.contact__list {
  font-family: "Roboto", sans-serif;
  list-style: none;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  padding-left: -40px;
  margin: 0;
  padding: 0;
}

.contact__title {
  margin-bottom: 51px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 28px;

}

.li {
  padding-bottom: 23px;
}

.li a {
  text-decoration: none;
  color: #030303;
}
.contacts__body__map {
  padding-bottom: 50px;
}

/* footer*/


.footer {
  background-color: #030303;
  color: #ffffff;
  
}

.logo_footer {
  display: flex;
  align-items: center;
  margin-top: -95px;
  font-family: "Forum", cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  width: 50px;
  letter-spacing: 5px;
}

.logo_footer img {
  margin-right: 24px;
  justify-content: left;
}
.socialnets {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.navigation2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
   
}


.navigation2 {
  display: flex;
  justify-content: space-between;
  width: 363px;
  height: 128px;
 
}

.navigation2__list1 li,
.navigation2__list2 li {
  padding-bottom: 25px;
  margin-left: -52px;
  margin-right: 55px;
  letter-spacing: 2px;
}


.navigation2 a,
.footer__end__list a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}
.part1 {
  margin-right: 150px;
}

.nets {
  width: 340px;
}
.socialnets li {
  margin: 0;
  margin-top: 75px;
  align-items: center;
  list-style-type: none;
  width: 48px;
  height: 48px;
}

.socialnets li :last-child {
  margin-right: 0;
}

.socialnets_item {
  padding: 11px;
  border: 1px solid #ffffff;
  border-radius: 30px;
    
}
.socialnets_item:hover {
  border: 2px solid #9d8665;
  filter: invert(40%) sepia(80%) saturate(450%) hue-rotate(20deg) brightness(70%) contrast(80%);
  
}

.footer__hr {
  border: 2px solid #666666;
  width: 100%;
  margin-top: -30px;  
  margin-bottom: 10px;
}

.footer__end {
  max-width: 1440px;
  margin: 50px auto 0;
  padding-bottom: 60px;

}

.footer__end__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;

}

